/* Mobile */

@media screen and (max-width: 600px) {
    /* NAV BAR e LOGO */

#navBar {
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--dncBlue);
    color: var(--dncWhite);
}

#logo {
    font-size: 3.1em;
    font-weight: 800;
}

#menu, .links {
    display: none;
}

/* Menu Principal */

main {
    background-color: var(--dncGray);
}

#presentation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 8vh;
}

#presentation h2 {
    font-size: 1.2em;
    font-weight: 800;
}

#presentation img {
    height: 15vh;
}

/* Formulário */

#mainForm {
    display: flex;
    justify-content: center;
    margin-top: 10vh;
}

#formConteiner {
    height: 100vh;
    width: 100%;
    background-color: var(--dncWhite);
    border-radius: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#formLayout {
    display: flex;
    flex-direction: column;
    gap: 6vh;
    width: 80%;
}

form input {
    height: 6vh;
    border: none;
    border-radius: 10px;
    background-color: var(--dncGray);
    padding-left: 2vw;
    font-size: 0.7em;
}

form input:focus {
    border: none;
    outline: solid var(--dncBlue);
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 1.2em;
    font-weight: 400;
}

#latLongIn {
    display: flex;
    justify-content: center;
    gap: 1.5ch;
}

.latLong {
    width: 80%;
}

#subButton {
    height: 6vh;
    border: none;
    border-radius: 10px;
    background-color: var(--dncBlue);
    color: var(--dncWhite);
    font-weight: 600;
    font-size: 1.2em;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 6px 4px -1px #a0b2ff;
    margin-top: 6vh;
    cursor: pointer;
}

#subButton:hover{
    translate: 0 -4px;
    transition: 200ms;
}

/* Resultado do CEP */

#cepResult{
    margin-top: 10vh;
}

#cepResultEl{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#cepResultEl h2{
    font-size: 1.2em;
    font-weight: 800;
}

#cepResult img {
    height: 15vh;
}

#cepDisplay{
    margin: 4vh 0 18vh 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}


#cepElements{
    background-color: var(--dncBlue);
    width: 100vw;
    height: 10vh;
    border-radius: 0;
    font-size: 0.8em;
    display: flex;
    justify-content: space-evenly;
    gap: 4vw;
    align-items: center;
    color: var(--dncWhite);
    font-weight: 800;
}

#cepAnswer{
    background-color: var(--dncWhite);
    width: 100vw;
    height: 12vh;
    border-radius: 0;
    font-size: 0.8em;
    display: flex;
    gap: 2vw;
    justify-content: space-evenly;
    align-items: center;
    color: var(--dncBlack);
    font-weight: 800;
}

#cepDisplay p{
    text-align: center;
    width: 20vw;
}

/* RESULTADO METEREOLÓGICO */

#meteo{
    margin-top: 1vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 10vh;
}

#meteoResult{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 6vh;
}

#meteoResult h2{
    font-size: 1.2em;
    font-weight: 800;
}

#meteoResult img{
    height: 15vh;
}

#meteoDisplay{
    background-color: var(--dncWhite);
    width: 100vw;
    height: 8vh;
    border-radius: 0px;
    font-size: 0.8em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: var(--dncBlack);
    font-weight: 800;
    border: 0px;
    border-top: solid 1px var(--dncBlue);
    border-bottom: solid 1px var(--dncBlue);
}

/* RODAPÉ */

footer{
    background-color: var(--dncBlue);
    color: var(--dncWhite);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8em;
    font-weight: 600;
    height: 8vh;
}
} 
